body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

#rocketHeader {
  font-size: 50px;
}

#rocketImage {
  width: 100%;
}

#imageContainer {
  position: relative;
}

#textBlock {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ebf0f7;
  background-color: #2d73e3;
}

#flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

#businessContainer {
  width: 300px;
}

#itTalentsContainer {
  width: 300px;
}
