html {
  font-family: 'Noto Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

:root {
  --link-color: rgba(95, 147, 237, 1);
  --navBar-background-color: rgba(95, 147, 237, 0.5);
  /* --link-color: #3D3DFF; */
}

body {
  height: 100vh;
  width: 100vw;
}

.appHeader {
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.serviceEmoji,
.developerEmoji,
.companyEmoji,
.helloEmoji {
  height: 4vh;
  width: 4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stack {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  position: relative;
  height: 80vh;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.99);
}

.animationHeader {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 80vh;
  position: absolute;
  width: 100%;
}

.animationBox {
  margin-top: auto;
  display: flex;
  align-items: flex-start;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.animation {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  height: 25vh;
}

.rocketHeader {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  max-width: 60vw;
  height: 40vh;
  margin: 0 auto 0 auto;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
}

.headerDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  transform: rotate3d(1,1,1,0deg);
  width: 23vw;
  height: 23vh;
  fill: none;
}

.miniLogo {
  display: block;
  max-width: 100%;
  transform: rotate3d(1,1,1,0deg);
  width: 3vw;
  height: 3vh;
  fill: none;
}

svg:not(:root) {
  overflow: hidden;
}

.circleFrame1 {
  cx: 32;
  cy: 32;
  r: 32;
  fill: transparent;
  stroke: none;
  transform-origin: 0px 0px;
}

.circleFrame2 {
  cx: 32;
  cy: 32;
  r: 30;
  opacity: 0.5;
  transform-origin: 0px 0px;
  fill: none;
  animation-name: animation-outterColorPalatte;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle2 {
  cx: 32;
  cy: 32;
  r: 24;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  transform-origin: 50% 50%;
  fill: none;
  animation-name: animation-twinner, animation-twinnerColorPalatte;
  animation-duration: 4s,8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle1 {
  cx: 32;
  cy: 32;
  r: 24;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  transform-origin: 50% 50%;
  fill: none;
  animation-name: animation-inner, animation-innerColorPalatte;
  animation-duration: 4s,8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.homeLink,
.serviceLink,
.developerLink,
.companyLink,
.helloLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  flex-basis: 90%;
  text-align: center;
  justify-content: center;
  width: inherit;
  cursor: pointer;
  height: 15vh;
}

.homeLink:hover,
.serviceLink:hover,
.developerLink:hover,
.companyLink:hover,
.helloLink:hover {
  background-color: var(--navBar-background-color);
}

.home,
.service,
.developer,
.company,
.hello {
  font-weight: bold;
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  opacity: 1;
}

.serviceHeader, .developerHeader, .companyHeader, .helloHeader {
  display: flex;
  font-weight: bold;
  flex-direction: column;
  justify-content: flex-end;
  height: 20vh;
}

.serviceContainer {
  display: none;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  padding: 0vw 10vw 0vw 10vw;
  position: absolute;
}

.serviceContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* width: 60vw; */
  height: 50vh;
  width: calc(100vw - .serviceContainer.padding);
}

.serviceOutline {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  height: 20vh;
}

.serviceOutlineText {
  align-items: center;
  font-weight: bold;
}

.jobProfileContainer {
  display: flex;
  align-items: center;
  height: 30vh;
}

.jobProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60vw;
  list-style-type: none;
}

.profile {
  width: 30vw;
  /* font-weight: bold; */
}

.appFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  color: #FFFFFF;
  height: 5vh;
}

.serviceCTA {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 60vw;
  padding: inherit;
}

.serviceDeveloperCTA,
.serviceCompanyCTA,
.developerHelloLinkCTA,
.companyHelloLinkCTA {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
  border: solid 1px var(--link-color);
  border-radius: 4px;
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
  width: 100vw;
  height: 10vh;
  font-size: calc(2px + 3vmin);
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}

.serviceDeveloperCTA:hover,
.serviceCompanyCTA:hover,
.developerHelloLinkCTA:hover,
.companyHelloLinkCTA:hover {
  color: #FFFFFF;
  background-color: var(--link-color);
}

.serviceDeveloperCTA .arrowCTAservice,
.serviceCompanyCTA .arrowCTAservice,
.developerHelloLinkCTA .arrowCTAdevHello,
.companyHelloLinkCTA .arrowCTAcompHello {
  position: relative;
  transition: 0.5s;
}

.serviceDeveloperCTA .arrowCTAservice:after,
.serviceCompanyCTA .arrowCTAservice:after,
.developerHelloLinkCTA .arrowCTAdevHello:after,
.companyHelloLinkCTA .arrowCTAcompHello:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 45%;
  right: -20%;
  transform: translate(0,-50%);
  transition: 0.5s;
}

.serviceDeveloperCTA:hover .arrowCTAservice,
.serviceCompanyCTA:hover .arrowCTAservice,
.developerHelloLinkCTA:hover .arrowCTAdevHello,
.companyHelloLinkCTA:hover .arrowCTAcompHello {
  padding-right: 10%;
}

.serviceDeveloperCTA:hover .arrowCTAservice:after,
.serviceCompanyCTA:hover .arrowCTAservice:after,
.developerHelloLinkCTA:hover .arrowCTAdevHello:after,
.companyHelloLinkCTA:hover .arrowCTAcompHello:after {
  opacity: 1;
  right: 0;
}

.developerContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0vw 10vw 0vw 10vw;
  position: absolute;
}

.developerContent, .companyContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
  width: calc(100vw - .developerContainer.padding);
}

.developerDescription {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: 20vh;
  font-weight: bold;
}

.developerOutline {
  display: flex;
  text-align: center;
  align-items: center;
  width: inherit;
  height: 30vh;
  width: 55vw;
}

.developerHelloLink, .companyHelloLink {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  width: 60vw;
  padding: inherit;
}

.companyContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  padding: 0vw 10vw 0vw 10vw;
  position: absolute;
}

.companyDescription {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 20vh;
  width: inherit;
  font-weight: bold;
}

.companyOutline {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  height: 30vh;
}

.githubLink {
  text-decoration: none;
  color: var(--link-color);
}

.githubLink:hover {
  font-weight: bold;
}

.helloContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80vh;
  width: 100vw;
  position: absolute;
}

.helloCTA {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  height: 50vh;
}

.helloEmailLink {
  padding: 2vh 2.5vw 2vh 2.5vw;
  border: 2px solid transparent;
  border-radius: 4px;
  /* width: 50%; */
  height: 10vh;
  color: var(--link-color);
}

.helloEmailLink:hover {
  color: #FFFFFF;
  font-weight: bold;
}

@keyframes shake {
  0%{
    transform: translate(0);
  }
  20%,40%,60%,80%{
    transform: translate(0.3vw);
  }
  10%,30%,50%{
    transform: translate(-0.2vh);
  }

  70%,100%{
    transform: translate(0);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0.6;
  }
  66% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  11% {
    opacity: 0.88;
  }
  22% {
    opacity: 0.77;
  }
  33% {
    opacity: 0.66;
  }
  44% {
    opacity: 0.55;
  }
  55% {
    opacity: 0.44;
  }
  66% {
    opacity: 0.33;
  }
  77% {
    opacity: 0.22;
  }
  88% {
    opacity: 0.11;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation-twinner {
  50% {
    transform: rotate3d(0,2,1,180deg);
  }
  100% {
    transform: rotate3d(0,2,1,360deg);
  }
}

@keyframes animation-inner {
  50% {
    transform: rotate3d(2,0,1,180deg);
  }
  100% {
    transform: rotate3d(2,0,1,360deg);
  }
}

@keyframes animation-outterColorPalatte {
  0% {
    stroke: var(--link-color);
  }
  33% {
    stroke: #a32f80;
  }
  66% {
    stroke: #ff6363;
  }
  100% {
    stroke: var(--link-color);
  }
}

@keyframes animation-twinnerColorPalatte {
  0% {
    stroke: #ff6161;
  }
  33% {
    stroke: #eb7070;
  }
  66% {
    stroke: var(--link-color);
  }
  100% {
    stroke: #ff6161;
  }
}

@keyframes animation-innerColorPalatte {
  0% {
    stroke: #64e291;
  }
  33% {
    stroke: #eb7070;
  }
  66% {
    stroke: var(--link-color);
  }
  100% {
    stroke: #64e291;
  }
}

.headerTitle {
  font-size: calc(7vmin);
}

.headerDescription {
  font-size: calc(4vmin - 4px);
}

.home,
.service,
.developer,
.company,
.hello {
  font-size: calc(2vmin);
}

.serviceHeader,
.developerHeader,
.companyHeader,
.helloHeader {
  font-size: calc(5vmin + 2px);
}

.serviceDeveloperCTA,
.serviceCompanyCTA,
.developerHelloLinkCTA,
.companyHelloLinkCTA {
  font-size: calc(3vmin);
}

.serviceDeveloperCTA .arrowCTAdev:after,
.serviceCompanyCTA .arrowCTAcomp:after {
  font-size: calc(2vmin + 15px);
}

.developerHelloLinkCTA .arrowCTAdevHello:after,
.companyHelloLinkCTA .arrowCTAcompHello:after {
  font-size: calc(3vmin);
}

.developerDescription,
.companyDescription,
.serviceOutlineText {
  font-size: calc(3vmin + 6px);
}

.developerHelloLink,
.companyHelloLink {
  font-size: calc(2vmin + 14px);
}

.jobProfile,
.developerOutlineText,
.companyOutlineText {
  font-size: calc(3vmin);
}

.helloEmailLink {
  font-size: calc(4vmin + 10px);
}

.appFooter {
  font-size: 2vmin;
}
