body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 0px auto;
}

#businessContainer {
  width: 300px;
}

#itTalentsContainer {
  width: 300px;
}
