:root {
  --dark-blue: #00203FFF;
  --light-blue: #ADEFD1FF;
  color: var(--dark-blue);
}

.AppContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  background-color: var(--dark-blue);
}

.AppHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  color: #FFFFFF;
  z-index: 0;
  background-color: var(--dark-blue);
  top: 0;
  border-bottom: 0.5px solid var(--dark-blue);
}

.nuggetLink,
.serviceLink,
.developerLink,
.companyLink,
.helloLink {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  flex-basis: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #FFFFFF;
}

.AppFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 10vh;
  color: #FFFFFF;
  z-index: 0;
  background-color: var(--dark-blue);
  bottom: 0;
}

.animationHeader,
.serviceContainer,
.developerContainer,
.companyContainer,
.helloContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10vh 0vw 10vh 0vw;
  height: 80vh;
  width: 100%;
  background-color: var(--light-blue);
  text-align: center;
}

.col1,
.col2,
.col3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  width: 50vw;
}

.col1 {
  font-weight: bold;
  font-size: 3vmin;
}

.col2 {
  font-size: 2vmin;
}

.serviceContainer .col3 {
  flex-direction: row;
}

.headerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
  font-size: 4vmin;
  font-weight: bold;
}

.serviceCta {
  display: flex;
  flex-direction: column;
}

.rocketHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.animationHeader .col3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.developerCta,
.companyCta,
.helloCta  {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;
  border: solid 1px var(--dark-blue);
  border-radius: 4px;
  color: #FFFFFF;
  background-color: var(--dark-blue);
  height: 5vh;
  width: 20vw;
  font-weight: bold;
  margin: auto;
  text-decoration: none;
}

.developerCta:hover,
.companyCta:hover,
.helloCta:hover {
  opacity: 0.9;
}

.developerCta:active,
.companyCta:active,
.helloCta:active {
  opacity: 0.8;
}

.developerCta:visited,
.companyCta:visited,
.helloCta:visited {
  opacity: 0.85;
}

.serviceCta,
.contactCta,
.githubLink  {
  color: var(--dark-blue);
}

.githubLink {
  text-decoration: none;
}

.serviceCta:hover,
.contactCta:hover {
  font-weight: bold;
}

.githubLink {
  display: inline;
  font-weight: bold;
}

.logo {
  display: flex;
  margin: 0 auto;
  transform: rotate3d(1,1,1,0deg);
  width: 23vw;
  height: 23vh;
  fill: none;
}

svg:not(:root) {
  overflow: hidden;
}

.circleFrame1 {
  cx: 32;
  cy: 32;
  r: 32;
  fill: var(--dark-blue);
  stroke: none;
  transform-origin: 0px 0px;
}

.circleFrame2 {
  cx: 32;
  cy: 32;
  r: 30;
  opacity: 0.5;
  transform-origin: 0px 0px;
  fill: none;
  animation-name: animation-outterColorPalatte;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle2 {
  cx: 32;
  cy: 32;
  r: 24;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  transform-origin: 50% 50%;
  fill: none;
  animation-name: animation-twinner, animation-twinnerColorPalatte;
  animation-duration: 4s,8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle1 {
  cx: 32;
  cy: 32;
  r: 24;
  stroke-width: 2;
  vector-effect: non-scaling-stroke;
  transform-origin: 50% 50%;
  fill: none;
  animation-name: animation-inner, animation-innerColorPalatte;
  animation-duration: 4s,8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animation-twinner {
  50% {
    transform: rotate3d(0,2,1,180deg);
  }
  100% {
    transform: rotate3d(0,2,1,360deg);
  }
}

@keyframes animation-inner {
  50% {
    transform: rotate3d(2,0,1,180deg);
  }
  100% {
    transform: rotate3d(2,0,1,360deg);
  }
}

@keyframes animation-outterColorPalatte {
  0% {
    stroke: var(--dark-blue);
  }
  33% {
    stroke: #a32f80;
  }
  66% {
    stroke: #ff6363;
  }
  100% {
    stroke: var(--dark-blue);
  }
}

@keyframes animation-twinnerColorPalatte {
  0% {
    stroke: #ff6161;
  }
  33% {
    stroke: #eb7070;
  }
  66% {
    stroke: var(--dark-blue);
  }
  100% {
    stroke: #ff6161;
  }
}

@keyframes animation-innerColorPalatte {
  0% {
    stroke: #64e291;
  }
  33% {
    stroke: #eb7070;
  }
  66% {
    stroke: var(--dark-blue);
  }
  100% {
    stroke: #64e291;
  }
}

/* font-size ------------------------------------- */

.AppHeader {
  font-size: calc(2vmin + 2px);
}

.AppFooter {
  font-size: 2vmin;
}

.col2 {
  font-size: calc(2vmin + 4px);
}

.serviceCta {
  font-size: 3vmin;
}

.developerCta,
.companyCta,
.helloCta  {
  font-size: calc(2vmin + 4px);
}
