.app {

}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.appHeader {
  background-color: #000000;
  padding: 0vw 10vw 0vw 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vw;
  align-items: flex-end;
}

.instructionContainer {
  display: flex;
  flex-direction: row;
  padding: 0vw 10vw 0vw 10vw;
  justify-content: flex-start;
  align-items: baseline;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2vw;
  align-items: baseline;
}

.developerTitle, .developerLink, .developerInstruction {
  border-right: 1px solid #000000;
  flex: 1;
  text-align: right;
  padding-right: 2vw;
}

.businessTitle, .businessInstruction, .businessLink {
  flex: 1;
  padding-left: 2vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
