.app {

}

.circle {
  animation-name: App-circle-spin;
  animation-iteration-count: infinite;
  animation-duration: 20;
  animation-timing-function: linear;
  height: 30vmin;
}

.appLogo {
  animation-name: App-logo-spin;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
  height: 20vmin;
  pointer-events: none;
  align-items: center;
}

.appHeader {
  background-color: #000000;
  padding: 0vw 10vw 0vw 10vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle1 {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  border: 1px solid orange;
}

.circle2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vmin;
  width: 30vmin;
  border-radius: 50%;
  border: 1px solid red;
}


.img {

}

.appContainer {
  display: flex;
  flex-direction: column;
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.instructionContainer {
  display: flex;
  flex-direction: row;
  padding: 0vw 10vw 0vw 10vw;
  justify-content: flex-start;
  align-items: baseline;
}

.linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2vw;
  align-items: baseline;
}

.developerTitle, .developerLink, .developerInstruction {
  border-right: 1px solid #000000;
  flex: 1;
  text-align: right;
  padding-right: 2vw;
}

.businessTitle, .businessInstruction, .businessLink {
  flex: 1;
  padding-left: 2vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
